<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.AdminCustomMapper" >
  <resultMap id="selectAdmin" type="cn.itcast.ssm.po.AdminCustom" >
    <id column="id" property="id" />
    <result column="username" property="username"/>
    <result column="password" property="password" />
		 <collection property="courseCustoms" ofType="cn.itcast.ssm.po.CourseCustom">
			 	<id column="cno" property="cno"/>
			 	<result column="cname" property="cname"/>
			 	<result column="cgrade" property="cgrade"/>
			 	<result column="chour" property="chour"/>
			 	<result column="ctime" property="ctime"/>		 	
			 	<association property="teacher" javaType="cn.itcast.ssm.po.Teacher">
			 	    <id column="tno" property="tno" jdbcType="VARCHAR" />
				    <result column="tname" property="tname" jdbcType="VARCHAR" />
				    <result column="tage" property="tage" jdbcType="INTEGER" />
				    <result column="tdept" property="tdept" jdbcType="VARCHAR" />
			 	</association>
	     </collection>  
  
  </resultMap>
  
     <select id="selectAdminByUsername" resultType="cn.itcast.ssm.po.AdminCustom" parameterType="java.lang.String">
    SELECT 
	 admin.*
	FROM admin
	WHERE
	 admin.username=#{username};
  </select>
  
     <insert id="insertAdmin" parameterType="cn.itcast.ssm.po.Admin">
    INSERT INTO admin 
    VALUES (#{id,jdbcType=VARCHAR}, 
    #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
   </insert>
   
      <select id="selectUsername" resultType="java.lang.String">
    SELECT 
	 admin.username
	FROM admin
  </select>
  
      <select id="selectAdmin"  resultMap="selectAdmin" parameterType="java.lang.String">		
		SELECT 
	     course.*, student.*,teacher.*
	  FROM 
	    course,student,stu_cour,teacher,admin
	  WHERE 
		student.`sno`=#{sno,jdbcType=VARCHAR} 
		AND student.`sno`=stu_cour.`stu_sno` 
		AND course.`cno`=stu_cour.`cour_cno` 
		AND teacher.`tno`=stu_cour.`tea_tno`;
  </select> 
</mapper>